:root {
  --primary: #10b981;
  --lightAccent: #ffffffdc;
  --light: #fff;
  --headText: #0f172a;
  --pText: #64748b;
  --bg: #f9fcf8;
  --highlight: #0fa171;
  --btnDark: #047857;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*1rem = 10px*/
}

body {
  background: var(--bg);
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 8rem auto;
  max-width: 112rem;
  width: 90vw;
}

p {
  font-size: 1.6rem;
}

h2 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  color: var(--headText);
  text-align: center;
}

.tourHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.underline {
  width: 11.2rem;
  height: 0.4rem;
  background: var(--primary);
  margin: 2rem 0;
}

/* All Tours */
.allTours {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.2rem;
  align-items: start;
}

/* Each tour */
.tour {
  background: var(--lightAccent);
  /* width: 35%; */
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0588),
    0px 1px 3px 0px rgba(0, 0, 0, 0.102);
  transition: 0.4s;
}

.tour:hover {
  transition: all 0.4s;
  box-shadow: 0px 5px 8px 6px rgba(0, 0, 0, 0.0488),
    0px 1px 5px 2px rgba(0, 0, 0, 0.05);
}

.tourImg {
  width: 100%;
  position: relative;
}

.tourImg img {
  width: 100%;
  height: 32rem;
  border-radius: 0.4rem 0.4rem 0 0;
  object-fit: cover;
}

.tourImg span {
  background: var(--primary);
  color: var(--light);
  padding: 0.5rem 0.8rem;
  border-radius: 0 0.4rem 0 0;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 0;
  right: 0;
}

.aboutTour {
  padding: 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.aboutTour h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.1rem;
  color: var(--headText);
}

.aboutTour p {
  font-weight: 400;
  line-height: 2.4rem;
  font-size: 1.6rem;
  color: var(--pText);
}

.aboutTour p button {
  border: none;
  background: none;
  color: var(--primary);
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .4s;
}

.aboutTour p button:hover{
  color: var(--highlight);
  transition: all .4s;

}

.btnTour {
  width: 100%;
  padding: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  border: 0.2rem solid var(--primary);
  outline: none;
  background: #ffffff01;
  cursor: pointer;
  transition: all 0.4s;
}

.btnTour:hover {
  background: var(--primary);
  color: var(--light);
  transition: all 0.4s;
}

.noTours {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  background: var(--primary);
  color: var(--light);
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.4s;
  cursor: pointer;
}

.btn:hover {
  background: var(--btnDark);
  transition: all 0.4s;
}

.load,
.err {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
}

.error {
  font-size: 6rem;
  text-align: center;
  color: var(--btnDark);
}

.error span {
  font-size: 4rem;
  padding-right: 1rem;
  color: var(--primary);
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px var(--primary);
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

.loading {
  margin: auto;
  height: 15rem;
  width: 15rem;
  display: inline-block;
  position: relative;
}

.loading::after,
.loading::before {
  content: "";
  box-sizing: border-box;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: var(--primary);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loading::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/******************************************
/* Mobile
/*******************************************/
@media screen and (max-width: 579px) and (min-height: 579px) {
  .allTours {
    grid-template-columns: repeat(1, 1fr);
  }
}

/******************************************
/* Tablet
/*******************************************/
@media (min-width: 580px) and (max-width: 899px) {
  .allTours {
    grid-template-columns: repeat(2, 1fr);
  }
}
